#####################################################################
# 	FANS
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: HE1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.8

[fan]
##	Print Cooling Fan - XYE board, Fan0 Pin
pin: FAN0
kick_start_time: 0.5
off_below: 0.10
cycle_time: 0.001

[heater_fan controller_fan]
##	Controller fan - Z board, FAN0 Connector
pin: z:FAN0
kick_start_time: 0.500
heater: heater_bed
heater_temp: 50.0
fan_speed: 0.5

# DEAN: renabled once installed
#[heater_fan exhaust_fan]
##	Exhaust fan - Z board, HE0 Connector
#pin: TB
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0


[temperature_fan chamber]
# Exhaust/Chamber fan - Z board, HE0 Connector
pin: z:HE0
max_power: 1.0
min_speed: 0.5
shutdown_speed: 0.0
kick_start_time: 0.50
# Chamber Thermistor
sensor_type: NTC 100K beta 3950
sensor_pin: TH1
min_temp: 0
max_temp: 70.0
target_temp: 45.0   ; Activate Exhaust fan at this temperature
control: watermark
gcode_id: C